#rumpf {
  width:100%;
  display:flex;
  justify-content:space-evenly;
  gap:10px;
}

.spalte {
  background-color:rgb(238,238,238);
  padding:4px;
}
.linke {
  flex-grow:1;
  flex-shrink:0;
  display:flex;
  flex-direction:column;
  gap:1em;
}
.mittlere {
  flex-grow:1;
  flex-shrink:0;
  display:flex;
  flex-direction:column;
  gap:2em;
}
.rechte {
  flex-grow:1;
  flex-shrink:1;
}

#fuss {
  background-color:rgb(238,238,238);
  padding:4px;
  margin-top:10px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

#termine_div {
}
#kurse_div {
}

.courseselect {
  max-width:150px;
}
.quizselect {
  max-width:150px;
}
.terminselect {

}

.fehler {
  color:red;
}
.ok {
  color:green;
}