* {
  font-family:sans-serif;
  font-size:12px;
}
body {
    background-color:#EFAA23;
    margin:10px;
}
#menue {
    margin:10px;
}
#menue a {
    display:inline-block;
    margin-right:10px;
    color:black;
    text-decoration:none;
}
h1 {
    background-color:white;
    margin:0;
    padding:10px;
    padding-bottom:1em;
    font-size:18px;
    font-weight:bold;
}
#inhalt {
    background-color:white;
    padding:10px;
    padding-top:0;
}
.ferien {
  font-size:14px;
  font-weight:bold;
  color:rgb(0,128,0);
}

.testmoodle {
  background-color:#c59dd9;
}
.moodle {
  background-color:#eab80f;
}